@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .loader {
    border-top-color: #38a169;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
